<div class="container" id="informacion" style="display:block">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4 py-5"*ngFor="let item of personajes">
      <div class="card" style="width: 18rem; margin: auto;" >
        <img mat-card image src="{{item.image}}" alt="Photo of a Shiba Inu">
        <div class="card-body" >
          <h5 class="card-title text-center">{{item.name }}</h5>


          <button  class="btn btn-primary float-end" onclick="ver_detalle(1)">

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
            Ver detalle</button>
        </div>









