<div class="container">

  <div class="row">


    <div class="col">


      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">{{correo}}</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder [(ngModel)]="newEmail.email">
        <label for="exampleFormControlInput2" class="form-label"> {{correo1}}</label>
        <input type="email" class="form-control" id="exampleFormControlInput2" placeholder [(ngModel)]="newEmail.email">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">{{asunto}}</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>


      </div>

      <button type="button" class="btn btn-primary">{{enviar}}</button>


      <!-- fin del div del col abajo  -->
    </div>







    <!-- fin del div del row abajo  -->
  </div>








  <!-- fin del div del container abajo  -->
</div>



